parameters:
    level: 1
    paths:
        - src
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#already#'
        - '#empty#'
        - '#mixed given#'
        - '#with null as default#'
